html {
    height: 100%;

}

body {
    height: 100%;
    background-color: #ccc;
    background-image: radial-gradient(rgba(8, 8, 8, 0.75), black 120%);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e7a800;
    font-family: 'IBM Plex Mono', monospace;
    font-display: swap;
    text-shadow: 0 0 3px #e7a800;
}

.content:before { /* Inspired by https://codepen.io/_aivaras/pen/LrrOVV */
    pointer-events: none;
    content: '';
    z-index: 4010;
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0px;
    left : 0px;
    background: linear-gradient(#444 50%, #111 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .14;
    box-shadow : inset 0px 0px 1px 1px rgba(0, 0, 0, .8);
    animation: pulse 5s linear infinite;
}



.header-component {
    display: inline-block;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 50vw
}

@media only screen and (max-width: 600px) {
    .links {
        width: 100vw;
    }

    .header {
        width: 80vw;
        text-align: center;
    }

    .header-decoration {
        display: none;
    }

    .descriptive-header-component {
        font-size: 0.75em;
        opacity: 0.75;
    }
}

.link:visited {
    color: #e7a800;
}

.link:active {
    color: #e7a800;
}
.link:link {
    color: #e7a800;
}

.link:hover {
    color: #ffd666;
}

@keyframes screenwipe {
    0%   { top: 0px;}
    100% { top: 100%;}
}

.scanlines:before {
    content : '';
    position : absolute;
    top : 0px;
    left: 0px;
    width : 100%;
    height : 12px;
    background : #fff;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
    opacity : .1;
    animation: screenwipe 6.25s linear infinite;
  }

